<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="start">Start_date <i class="bi bi-cash-coin"></i></label>
    <input type="date" id="startDate" class="form-control" formControlName="startDate" (change)="checkDates()"/>
  </div>
  <div class="form-group">
    <label for="end">End-date <i class="bi bi-cash-coin"></i></label>
    <input type="date" id="endDate" class="form-control" formControlName="endDate" (change)="checkDates()"/>
  </div>
  <button id="save" class="btn btn-primary" type="submit" [disabled]="dateInvalid">Update order</button>
  <button id="cancel" class="btn btn-secondary">Cancel</button>
</form>
