.container-fluid {
  margin-left: 0px;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 5vh;
  margin-right: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFF0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-bottom: 2.5vh;
}


label {
  margin-bottom: 1vh;
}

input {
  width: 100%;
  margin-bottom: 2vh;
  padding: 1.2vh 1.5vw;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#save {
  background-color: #A9B388;
  color: white;
  margin-top: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border: none;
  cursor: pointer;
  width: 100%;
}

  /* Hover effect for buttons */
  #save:hover {
    opacity: 0.8;
  }

#cancel {
  background-color: grey;
  color: white;
  margin-top: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border: none;
  cursor: pointer;
  width: 100%;
}

  #cancel:hover {
    opacity: 0.8;
  }
