<div class="container-fluid">
    <h1>
        Register
    </h1>
    <form class="row" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="firstName"><b>First name</b><i class="bi bi-cash-coin"></i></label>
                <input id="firstName" class="form-control" formControlName="firstName" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="lastName"><b>Last name</b><i class="bi bi-cash-coin"></i></label>
                <input id="lastName" class="form-control" formControlName="lastName" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="address"><b>Address</b><i class="bi bi-cash-coin"></i></label>
                <input id="address" class="form-control" formControlName="address" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="number"><b>Number</b><i class="bi bi-cash-coin"></i></label>
                <input id="number" class="form-control" formControlName="number" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="email"><b>Email</b><i class="bi bi-cash-coin"></i></label>
                <input id="email" class="form-control" formControlName="email" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="password"><b>Password</b><i class="bi bi-cash-coin"></i></label>
                <input type="password" id="password" class="form-control" formControlName="password" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <button id="register" type="submit">Register</button>
        </div>
    </form>
</div>
