h1 {
  margin-bottom: 2.5vh;
}

.container-fluid {
  margin-left: 0vw;
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right: 0px;
  padding-bottom: 5vh;
  width: 100%;
  height: 100%;
  background-color: #FFFFF0;
  font-family: 'Montserrat', sans-serif;
}

#unameLabel {
  margin-bottom: 1vh;
}

#pswLabel {
  margin-bottom: 1vh;
}

.row {
  width: 100%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  margin-bottom: 2vh;
  padding: 1.5vh 1.5vw;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Style for all buttons */
button {
  background-color: #A9B388;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

  /* Hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

#login {
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

/* Styles for the loading spinner */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #5F6F52;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px; /* Adjust spacing between text and loader */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Additional styles for the login button */
.login-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  position: relative; /* Needed for positioning the loader */
}
