<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form (ngSubmit)="onSubmit()" method="post">
        <div class="container-fluid">
            <h1>
                Log in
            </h1>
            <div *ngIf="loginFail" class="alert alert-danger box-msg" role="alert">
                <strong>Either your email or password was incorrect. Please try again. </strong>
            </div>
            <label id="unameLabel" for="uname"><b>Email</b></label>
            <input type="text" name="uname" required [(ngModel)]="email">

            <label id="pswLabel" for="psw"><b>Password</b></label>
            <input type="password" name="psw" required [(ngModel)]="password">

            <button id="login" type="submit" class="login-button" (click)="loader()">
                <div>Login</div>
                <div *ngIf="loaderCheck" class="loader"></div>
            </button>
            <button [routerLink]="['/register']">Register</button>
        </div>
    </form>
</body>
</html>