<div class="fullArea">
    <div class="container-fluid">
        <h1>{{ isEditMode ? 'Update' : 'Create' }} house</h1>

        <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="address">Address <i class="bi bi-cash-coin"></i></label>
            <input id="address" class="form-control" formControlName="address" />


            <div *ngIf="houseForm.get('address')?.invalid && houseForm.get('address')?.touched" class="text-danger">
              Address cannot be empty
            </div>

          </div>
            <div class="form-group" [class.has-error]="houseForm.get('price')?.invalid && houseForm.get('price')?.touched">
                <label for="price">Price <i class="bi bi-cash-coin"></i></label>
                <input id="price" class="form-control" formControlName="price" />


               <div *ngIf="houseForm.get('price')?.invalid && (houseForm.get('price')?.touched && houseForm.get('price')?.dirty)" class="text-danger">
  Please enter a valid numeric value for price.
</div>

            </div>
            <div class="form-group" [class.has-error]="houseForm.get('bedrooms')?.invalid && houseForm.get('bedrooms')?.touched">
                <label for="bedrooms">Bedrooms <i class="bi bi-door-open"></i></label>
                <input id="bedrooms" class="form-control" formControlName="bedrooms" />

                <div *ngIf="houseForm.get('bedrooms')?.invalid && (houseForm.get('bedrooms')?.touched && houseForm.get('bedrooms')?.dirty)" class="text-danger">
                    Please enter a valid numeric value for bedrooms.
                </div>

            </div>

            <div class="form-group">
                <label for="gridImg">Grid image <i class="bi bi-door-open"></i></label>
                <input type="file" id="gridImg" class="form-control" formControlName="gridImg" accept="image/*" (change)="onFileSelected($event)" />
            </div>

            <div class="form-group" *ngIf="isEditMode || houseForm.get('gridImg')?.value">
                <label for="moreImg">More images? <i class="bi bi-door-open"></i></label>
                <input type="file" multiple id="moreImg" class="form-control" formControlName="moreImg" accept="image/*" (change)="onMoreImgSelected($event)" />
            </div>

            <div class="form-group" [class.has-error]="houseForm.get('guests')?.invalid && houseForm.get('guests')?.touched">
                <label for="guests">Guests <i class="bi bi-people-fill"></i></label>
                <input id="guests" class="form-control" formControlName="guests" />
                <div *ngIf="houseForm.get('guests')?.invalid && (houseForm.get('guests')?.touched && houseForm.get('guests')?.dirty)" class="text-danger">
                    Please enter a valid numeric value for guests.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description <i class="bi bi-text-left"></i></label>
                <input id="description" class="form-control" maxlength="200" formControlName="description" />
            </div>
            <div class="form-group" style="display: none;">
                <label for="userId">UserId <i class="bi bi-cash-coin"></i></label>
                <input id="userId" class="form-control" formControlName="userId" />
            </div>
            <button id="save" class="btn btn-primary" type="submit" [disabled]="houseForm.invalid">{{ isEditMode ? 'Update' : 'Create' }} house</button>
            <button id="cancel" class="btn btn-secondary" [routerLinkActive]="['link-active']" [routerLink]="['/listings']">Cancel</button>
        </form>
    </div>
</div>
