<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<div class="container-fluid" id="details_container" *ngIf="!isObjectEmpty(newHouse)">
    <div class="row">
        <div id="image-part" class="col-11 col-lg-6 col-md-11">
            <img src="{{ newHouse.ImageUrl }}" alt="{{ newHouse.ImageUrl }}">
        </div>
        <div id="info-part" class="col-11 col-lg-6 col-md-11">
            <div class="inner-card">
                <h1>{{ newHouse.Address }}</h1>
                <p id="description-text">{{ newHouse.Description }}</p>
                <h3>{{ newHouse.Price | convertCurrency : 'kr.' }}</h3>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th><i class="bi bi-door-open"></i>   Bedrooms:</th>
                            <td>{{ newHouse.Bedrooms }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-people"></i>   Guests:</th>
                            <td>{{ newHouse.Guests }}</td>
                        </tr>
                        <tr>
                            <th><i class="bi bi-person"></i>   Owner:</th>
                            <td>{{ newHouse.User.FirstName }} {{ newHouse.User.LastName }}, {{ newHouse.User.Email }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="inner">
                <div class="card">
                    <h3>Choose dates and order here!</h3>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>FROM:</th>
                                <th>TO:</th>
                            </tr>
                            <tr>
                                <td>
                                    <!-- Input field for start date -->
                                    <input type="date" id="startDate" name="trip_start"
                                           [value]="startDateMin" [min]="startDateMin" max="2025-12-31"
                                           (change)="updateDays()" #startDateInput />
                                </td>
                                <td>
                                    <!-- Input field for end date -->
                                    <input type="date" id="endDate" name="trip_end"
                                           [min]="endDateMinString" [value]="endDateMinString" max="2025-12-31"
                                           (change)="updateDays()" #endDateInput />
                                </td>
                            </tr>
                            <tr id="validate">
                                <td>
                                    <span class="text-danger" #validationText *ngIf="invalidDates">
                                        The start date must be earlier than end date
                                    </span>
                                </td>
                            </tr>
                            <tr class="info" *ngIf="!invalidDates">
                                <th><p><i class="bi bi-cloud-sun"></i>   Number of nights:</p></th>
                                <td><p id="nightsNr" #nightsNr>{{ numberOfNights }}</p></td>
                            </tr>
                            <tr class="info" *ngIf="!invalidDates">
                                <th><p><i class="bi bi-cash-coin"></i>   TOTAL PRICE: </p></th>
                                <td><p id="totalPrice">{{ totalPrice }}</p></td>
                            </tr>
                            <tr class="info" *ngIf="!invalidDates">
                                <td><button id="makeOrder" class="btn btn-primary" (click)="createOrder()">Order</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>