.container {
  margin-left: 2vw;
  padding-right: 5vw;
  padding-left: 0vw;
  padding-right: 0vw;
  padding-bottom: 5vh;
  margin-right: 2vw;
  max-width: 70vw;
}

h1 {
  margin-bottom: 2.3vh;
}

#create::after {
  content: '';
  height: 2px;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1; /* Set opacity to 1 to make it visible by default */
  transition: all 0.2s;
  pointer-events: none;
}
