

  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="container">
    <h1>Create a house listing</h1>
    <!-- Using <form> to post the "house" to the database. Also sends the User through the post-method -->
    <form method="post" enctype="multipart/form-data" asp-action="Create" asp-route-email="@UserManager.GetUserName(User)">
      <!-- 2 column grid layout with text inputs for the address and price -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="address">Address <i class="bi bi-map-fill"></i></label>
            <input type="text" id="address" class="form-control" placeholder="Address" asp-for="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="price">Price per night <i class="bi bi-cash-coin"></i></label>
            <input type="number" id="price" class="form-control" placeholder="Price" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
          </div>
        </div>
      </div>

      <!-- Text input for amount of bedrooms -->
      <div class="form-outline mb-4">
        <label class="form-label" for="bedrooms">Bedrooms <i class="bi bi-door-open"></i></label>
        <input type="number" id="bedrooms" class="form-control" placeholder="Bedrooms" asp-for="Bedrooms" />
        <span asp-validation-for="Bedrooms" class="text-danger"></span>
      </div>

      <!-- Grid Image input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="image">Grid image <i class="bi bi-card-image"></i></label>
        <input type="file" id="gridImage" name="gridImage" class="form-control" accept="image/*" enctype="multipart/form-data" />
      </div>

      <!-- Text input for amoount of guests-->
      <div class="form-outline mb-4">
        <label class="form-label" for="guests">Guests <i class="bi bi-people-fill"></i></label>
        <input type="text" id="guests" class="form-control" placeholder="Guests" asp-for="Guests" />
        <span asp-validation-for="Guests" class="text-danger"></span>
      </div>

      <!-- Description input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="description">Description <i class="bi bi-text-left"></i></label>
        <textarea class="form-control" id="description" rows="4" placeholder="Description" asp-for="Description" maxlength="200"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
      </div>

      <!-- Carousel Images input -->
      <div class="form-outline mb-4" id="moreImgDiv" style="display: none;">
        <label class="form-label" for="images">Add more images? <i class="bi bi-card-image"></i></label>
        <input type="file" multiple id="moreImg" name="moreImg"
               class="form-control" accept="image/*" enctype="multipart/form-data" />
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
    </form>

  </div>

  <script>
//shows the second imageinput only when the first imageinput has got a value
    const gridImgInput = document.getElementById("gridImage");
    const moreImgDiv = document.getElementById("moreImgDiv");

    gridImgInput.addEventListener("change", function () {
        moreImgDiv.style.display = "block";
    });</script>
