.container-fluid {
  margin-left: 0vw;
  padding-right: 2vw;
  padding-top: 3vh;
  padding-left: 2vw;
  padding-bottom: 5vh;
  margin-right: 2vw;
  background-color: #FFFFF0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#house-link {
  color: black;
}

h1 {
  padding-bottom: 2vh;
}

#listings::after {
  content: '';
  height: 2px;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: all 0.2s;
  pointer-events: none;
}

.table-container {
  width: 100%;
  overflow: auto;
  max-height: 75vh;
}

/* Media Query for Phones */
@media screen and (max-width: 767px) {

  #delete {
    width: 9.4vh;
  }

  #update {
    width: 9.4vh;
  }


  h1 {
    padding-bottom: 1vh;
  }

  #listings::after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: all 0.2s;
    pointer-events: none;
  }
}

/* Media Query for iPads */
@media screen and (min-width: 768px) and (max-width: 1024px) {


  #delete {
    width: 9.4vh;
  }


  #update {
    width: 9.4vh;
  }

  .table-container {
    margin-left: 2vw;
    margin-right: 2vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5vh;
  }

  h1 {
    padding-bottom: 2vh;
  }

  #listings::after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: all 0.2s;
    pointer-events: none;
  }
}
