<div class="container-fluid">
    <h1>List of Houses</h1>
    <div class='row'>
        <div id="filterText" class='col-md-1'>Address: </div>
        <div id="filterInput" class='col-md-3'>
            <input id="inputAddress" type='text' [(ngModel)]='listFilter' />
        </div>
        <div id="filterText" class="col-md-1">Sort by: </div>
        <div id="sort" class="col-md-3">
            <select name="sortby" id="sortInput" [(ngModel)]="selectedSort" (change)="sortHouses($event)">
                <option value="0">None</option>
                <option value="1">Price: Low-High</option>
                <option value="-1">Price: High-Low</option>
                <option value="2">Address: A-Z</option>
                <option value="-2">Address: Z-A</option>
            </select>
        </div>
    </div>
    <div class="row g-4">
        <div *ngFor='let house of filteredHouses' class="col-12 col-md-6 col-lg-4 col-xl-3">
            <a id="link" [routerLink]="['/details', house.HouseId]">
                <!--Link til details hus, spesifikt hus-->
                <div class="col" id="Cards">
                    <div class="card">
                        <img [src]="(house.ImageUrl.length > 0) ? (baseImgUrl + house.Address + '/' + house.ImageUrl) : (baseImgUrl + 'noimg.jpg')" class="card-img-top" alt="{{ house.Address }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ house.Address }}</h5>
                            <p class="card-price">{{ house.Price | convertCurrency : 'kr.' }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
